# Project exclude paths
/wp-content/plugins/admin-menu-editor-pro/extras/menu-headings/menu-headings.js
/wp-content/plugins/admin-menu-editor-pro/extras/menu-headings/menu-headings.js.map
/wp-content/plugins/admin-menu-editor-pro/extras/modules/dashboard-widget-editor/dashboard-widget.js
/wp-content/plugins/admin-menu-editor-pro/extras/modules/dashboard-widget-editor/dashboard-widget.js.map
/wp-content/plugins/admin-menu-editor-pro/extras/modules/dashboard-widget-editor/dashboard-widget-editor.js
/wp-content/plugins/admin-menu-editor-pro/extras/modules/dashboard-widget-editor/dashboard-widget-editor.js.map
/wp-content/plugins/admin-menu-editor-pro/extras/modules/easy-hide/easy-hide.js
/wp-content/plugins/admin-menu-editor-pro/extras/modules/easy-hide/easy-hide.js.map
/wp-content/plugins/admin-menu-editor-pro/extras/modules/metaboxes/metabox-editor.js
/wp-content/plugins/admin-menu-editor-pro/extras/modules/metaboxes/metabox-editor.js.map
/wp-content/plugins/admin-menu-editor-pro/extras/modules/role-editor/role-editor.js
/wp-content/plugins/admin-menu-editor-pro/extras/modules/role-editor/role-editor.js.map
/wp-content/plugins/admin-menu-editor-pro/extras/modules/separator-styles/separator-settings.js
/wp-content/plugins/admin-menu-editor-pro/extras/modules/separator-styles/separator-settings.js.map
/wp-content/plugins/admin-menu-editor-pro/extras/modules/super-users/super-users.js
/wp-content/plugins/admin-menu-editor-pro/extras/modules/super-users/super-users.js.map
/wp-content/plugins/admin-menu-editor-pro/extras/modules/tweaks/tweak-manager.js
/wp-content/plugins/admin-menu-editor-pro/extras/modules/tweaks/tweak-manager.js.map
/wp-content/plugins/admin-menu-editor-pro/extras/ko-extensions.js
/wp-content/plugins/admin-menu-editor-pro/extras/ko-extensions.js.map
/wp-content/plugins/admin-menu-editor-pro/extras/pro-admin-helpers.js
/wp-content/plugins/admin-menu-editor-pro/extras/pro-admin-helpers.js.map
/wp-content/plugins/admin-menu-editor-pro/js/actor-manager.js
/wp-content/plugins/admin-menu-editor-pro/js/actor-manager.js.map
/wp-content/plugins/admin-menu-editor-pro/modules/actor-selector/actor-selector.js
/wp-content/plugins/admin-menu-editor-pro/modules/actor-selector/actor-selector.js.map
/wp-content/plugins/admin-menu-editor-pro/modules/plugin-visibility/plugin-visibility.js
/wp-content/plugins/admin-menu-editor-pro/modules/plugin-visibility/plugin-visibility.js.map
/wp-content/plugins/admin-menu-editor-pro/modules/redirector/redirector-ui.js
/wp-content/plugins/admin-menu-editor-pro/modules/redirector/redirector-ui.js.map
/adminer.sql
/wp-config.php
